


  {{> head }}
  {{> navbar }} <!--el signo de mayor va pegado y se coloca el nombre del archivo-->

    <div class="row">
        <div class"col-8">
            <h1>foto principal de la pagina</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate unde veritatis eum laborum sint odio quisquam vero soluta fugiat voluptas? Voluptate ipsam delectus doloremque ipsum. Distinctio cumque odit deleniti impedit.
            </p>
        </div>
       
       <div class"col-4">
            <img src="assets/img/Vzla-Flag.jpg" class="img-thumbnail">
        </div>

    </div>

   {{> footer }}